.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/dictionaries/Draegert.xml
app/src/main/java/com/example/sw802f15/tempoplayer/MusicPlayerActivity.java.bak
.bak
*.bak

.idea/misc.xml
SourceCode.iml
app/app.iml

.idea/gradle.xml
